@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Open+Sans');


body, html { 
	margin: 0 auto; 
	width: 100%; 
	height: 100%;
	box-sizing: border-box;
}

body, nav, main, footer {
	display: flex;
}

body, main {
	flex-direction: column;
}

h1, h2, h3, h5 {
	font-family: 'Architects Daughter', cursive;
}

h4, p, li, a {
	font-family: 'Open Sans', Sans-Serif;

}

/* Navbar */

nav {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;

}

nav li a {
	justify-content: space-between;
	align-items: baseline;
}





	

footer  { 
	display: flex;
	border-top: 1px solid #d5d5d5; 
	font-size: .8em; 
}

footer ul li {
	justify-content: space;
}

