@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Open+Sans');


body, html { 
	margin: auto; 
	width: 100%; 
	box-sizing: border-box;
}

h1, h2, h3, h5 {
	font-family: 'Architects Daughter', cursive;
}

h4, p, li, a {
	font-family: 'Open Sans', Sans-Serif;

}

/* Navbar */

nav {
	display: flex;
	padding-left: 0;
	margin-bottom: 0;

}

.navbar {
	flex-direction: row;
}

nav ul, footer ul { 
	font-size: 1em; 
	padding: 0px; 
	list-style: none; 
	font-weight: bold; 
}

	

footer  { 
	display: flex;
	border-top: 1px solid #d5d5d5; 
	font-size: .8em; 
}

footer ul li {
	justify-content: space;
}

