<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <!--Begin Navbar-->
    <nav class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
    </nav>

<div class="container">

  {{ content }}

</div>
  
  <footer>
      <ul>
        <li><a href="mailto:tlanpollard@comcast.net">Email Me!</a></li>
        <li><a href="https://github.com/tlanetterose">github.com/TLanetteRose</a></li>
      </ul>
  </footer>

  </body>

</html>
